:root {
    --main-color: #defdf1;
    --main-size: 30px;
    --light-green-border: #c3cdc0;
    --dark-green-border: #799c6e;
}

.hidden {
    display: none;
}

html,
body {
    /* Reset html and body */
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--main-color);
}

.container {
    display: grid;
    justify-items: center;

    height: 100vh;
    padding: 0 15px;
}

#main {
    padding: var(--main-size);
    margin: var(--main-size) 0;
    border: 1px solid #578e3e;
    align-self: center;

    /* random values */
    width: 70%;
    max-width: 500px;
    min-width: 350px;
}

#main,
#main form > * {
    /* padding and borders to be included */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#main form .row {
    height: calc(1.7 * var(--main-size));
    line-height: calc(1.7 * var(--main-size) - 4px);
}

#main form .row:not(:last-of-type),
#main form .group:not(:last-of-type) {
    border-bottom: 2px solid var(--dark-green-border);
}

#main form .group .row,
#main form .sub-group:not(:last-of-type) {
    border-bottom: 1px dashed var(--dark-green-border);
}

#main form .group div:first-of-type,
#main form .sub-group div:first-of-type,
#main form .sub-group .row {
    border: none;
}

#main form .row:last-of-type {
    border: none;
}

#main form .row label {
    margin-right: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main form .row input:not([type="checkbox"]),
#main form .row select {
    height: calc(0.65 * var(--main-size));
    padding: 2px 4px;
    letter-spacing: 1px;
    font-family: monospace;
}

#main form .row input[type="checkbox"] {
    height: calc(0.65 * var(--main-size));
    width: calc(0.65 * var(--main-size));
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-right: 7px;
    margin-left: 0px;
}

#main form .group .row:not(:first-of-type),
#main form .sub-group {
    margin-left: 30px;
}

#main form > button {
    width: 100%;
    height: var(--main-size);
    outline: none; /* remove default outline */
    border: 2px solid var(--light-green-border);
    margin-top: var(--main-size);
    padding: 0 5px;
}

#main form button[type="submit"] {
    color: #609270;
    background-color: #cfe7d9;
}

#main form button[type="submit"]:hover {
    color: #cee6d3;
    background-color: #558d3d;
    border-color: #cfe7d9;
    cursor: pointer;
}
