:root {
    --main-color: #defdf1;
    --main-size: 25px;
    --light-green: #c3cdc0;
    --middle-green: #cfe7d9;
    --dark-green: #799c6e;
    --light-red: #dd6c59;
    --dark-red: #dd6c59;
    --light-yellowish: #f0f579;
    --dark-yellowish: #d59c1c;
}

.hidden div:not(:first-of-type) {
    display: none;
}

html,
body {
    /* Reset html and body */
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;

    background-color: var(--main-color);
}

.container {
    display: grid;
    justify-items: center;

    min-height: 100vh;
    padding: 0 15px;
}

#main,
#login,
#response {
    padding: var(--main-size);
    margin: var(--main-size) 0;
    border: 1px solid #578e3e;
    align-self: center;

    /* random values */
    width: 70%;
    max-width: 500px;
    min-width: 350px;
}

#main,
#login,
#response,
#main form > * {
    /* padding and borders to be included */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#main form .row {
    height: calc(1.7 * var(--main-size));
    line-height: calc(1.7 * var(--main-size) - 4px);
}

#main form .sub-group .row:not(:first-of-type) {
    height: calc(1.2 * var(--main-size));
    line-height: calc(1.2 * var(--main-size) - 4px);
}

#main form .row:not(:last-of-type),
#main form .group:not(:last-of-type) {
    border-bottom: 2px solid var(--dark-green);
}

#main form .group .row,
#main form .sub-group:not(:last-of-type) {
    border-bottom: 1px dashed var(--dark-green);
}

#main form .group div:first-of-type,
#main form .sub-group div:first-of-type,
#main form .sub-group .row {
    border: none;
}

#main form .row:last-of-type {
    border: none;
}

#main form .row label {
    margin-right: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main form .row input:not([type="checkbox"]),
#login form .row input:not([type="checkbox"]),
#main form .row select {
    height: calc(0.65 * var(--main-size));
    padding: 2px 4px;
    letter-spacing: 1px;
    font-family: monospace;
}

#main form .row select {
    height: var(--main-size);
}

#main form .row input[type="checkbox"] {
    height: calc(0.65 * var(--main-size));
    width: calc(0.65 * var(--main-size));
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-right: 7px;
    margin-left: 0px;
}

#main form .group .row:not(:first-of-type),
#main form .sub-group {
    margin-left: 30px;
}

#main button,
#login button,
#response button {
    width: 100%;
    height: calc(var(--main-size) + 5px);
    outline: none; /* remove default outline */
    border: 2px solid var(--light-green);
    padding: 0 5px;
    font-size: 17px;
}

#main button,
#login button {
    margin-top: var(--main-size);
}

#main button,
#login button,
#response button {
    color: #609270;
    background-color: var(--middle-green);
    padding: 0 var(--main-size);
}

#response button.back,
#form button.logout {
    color: var(--dark-red);
    background-color: #e7dccf;
}

#response button.back,
#form button.logout,
#form button.history {
    width: fit-content;
}

#main form button:hover,
#login form button:hover,
#response button:hover {
    color: #cee6d3;
    background-color: #558d3d;
    border-color: var(--middle-green);
    cursor: pointer;
}

#response button.back:hover,
#form button.logout:hover {
    color: #e7dccf;
    background-color: var(--dark-red);
    border-color: #e7dacf;
}

#form button.history:hover {
    color: var(--light-yellowish);
    background-color: var(--dark-yellowish);
    border-color: var(--middle-green);
    cursor: pointer;
}

#form button.history {
    color: var(--dark-yellowish);
    background-color: var(--light-yellowish);
    border-color: #e7dacf;
}

.actions {
    display: flex;
    column-gap: var(--main-size);
}

#form .actions {
    flex-wrap: wrap;
    justify-content: space-between;
}

#response pre {
    font-size: 14px;
}

#login label {
    margin-bottom: 5px;
}

#login .row {
    display: flex;
    flex-direction: column;
}

#logout {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

#form button:not(:first-of-type) {
    margin-top: calc(var(--main-size) / 2);
}

@media only screen and (max-width: 720px) {
    .actions {
        flex-direction: column;
    }

    #response button,
    #form button {
        width: 100% !important;
    }

    #response button:not(:first-of-type) {
        margin-top: calc(var(--main-size) / 2);
    }
}
